body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.logo {
    width: 50%;
    max-width: 80vw;
}

.links {
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #FF868C 0%, #E27BE8 50%, #2991FF 100%);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background 0.3s ease;
}

.links a:hover {
    opacity: 0.8;
}